body {
  background-image: url('img/pexels.jpg');
  padding-top: 100px;
  }
  
  #text {
    background-color: black;
    color: white;
    padding: 25px;
    border-radius: 3px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: lightgray;
    color: white;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
  }
  
  #controls {
    text-align: center;
    border: 1px black solid;
    padding: 10px;
    border-radius: 3px;
  }
  
  #stats {
    border: 1px black solid;
    color: black;
    padding: 5px;
    border-radius: 3px;
  }
  
  #monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
    border-radius: 3px;
  }
  
  .stat {
    padding-right: 10px;
  }